<MudTable Elevation="10" Items="CustomerList" T="Customer" Filter="new Func<Customer, bool>(Search)" @bind-customer="Customer" Hover="@Hover" Dense="@Dense">
    <ToolBarContent>
        <MudTextField @bind-Value="SearchString" Placeholder="Search Customer..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>
        <MudSpacer/>
        <MudButton Variant="Variant.Filled" DropShadow="false" Color="Color.Success" OnClick="ButtonAddClickAsync">Add</MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>id</MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Customer, object>(x=>x.FirstName)" InitialDirection="SortDirection.Ascending">First Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Customer, object>(x=>x.LastName)">Last Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Customer, object>(x=>x.Phone)">Phone</MudTableSortLabel>
        </MudTh>
        <MudTh>
            Action
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="FirstName">@context.FirstName</MudTd>
        <MudTd DataLabel="LastName">@context.LastName</MudTd>
        <MudTd DataLabel="Phone">@context.Phone</MudTd>
        <MudTd>
            <MudIconButton Color="Color.Primary" @onclick="@(()=>EditAsync(context))" Variant="Variant.Outlined" Size="Size.Medium" Icon="@Icons.Material.Filled.Edit" aria-label="Edit" />
            <MudIconButton Color="Color.Primary" @onclick="@(()=>DeleteAsync(context.Id))" Variant="Variant.Outlined" Size="Size.Medium" Icon="@Icons.Material.Filled.Delete" aria-label="Delete" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{5,10,20,50, int.MaxValue}" />
    </PagerContent>
</MudTable>
<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Value="@Hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Value="@Dense" Color="Color.Secondary">Dense</MudSwitch>
</div>
